# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# Database settings
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
DATABASE_SCHEMA="hub"

# You can generate the secret via "openssl rand -base64 32" on Unix
# @see https://www.better-auth.com/docs/installation
AUTH_SECRET="generate-a-secret-at-least-32-characters-long"
AUTH_URL="http://localhost:3000"

## Disabling sign ups prevents new users from registering. 
## Useful if you want to enable sign ups for a short period to allow in yourself and others to register and then disable so no one else can sign up.
AUTH_DISABLE_SIGN_UPS=false

# Auth providers
AUTH_GOOGLE_ID="<your-google-client-id>"
AUTH_GOOGLE_SECRET="<your-google-client-secret>"
